// Импорт (Файл обнуляющих стилей)
@import "nullstyle";



%mons12upper {
	//@extend %mons12upper;
	font-family: 'Montserrat', sans-serif;
		color: #fffefd;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		font-weight: 500;
		}

		%mons18upperblack {
			//@extend %mons18upperblack;
			font-family: 'Montserrat', sans-serif;
				color: #0c0c0c;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 18px;
				}

%NunitoSans18p {
		//@extend %NunitoSans18p;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 18px;
		font-weight: 400;
		//letter-spacing: 1px;
		color: #808082;
}

%NunitoSans16p {
	//@extend %NunitoSans16p;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	//letter-spacing: 1px;
	color: #4b4b4b;
}

%monsh2 {
		//@extend %monsh2;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #1e1c1d;
}
%serwicesstyly {
	//@extend %serwicesstyly;
h3{
	@extend %mons12upper;
	color: #0c0c0c;
	font-weight: 600;
	margin: 15px 15px;

	}
	p{
		@extend %NunitoSans16p;
		color: #8d7373;
		line-height: 20px;
	}
}


body{
	width: 1330px;
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.header {
display: block;
width: 100%;
height: 670px;
//border: 1px solid black;
background: url(../img/head_1.jpg) 0 0 no-repeat;
}

	.contentnav {
	display: block;
	//background: url(../img/diamond.svg) 20px 50% no-repeat;
	//border: 1px solid rgb(17, 233, 35);
	margin: 0 0 0 100px;
	height: 80px;
	}

	.listnav{
	display: block;
//	border: 1px solid rgb(17, 183, 233);
	max-width: 600px;
	
	margin-right: 60px;
	margin-left: auto;
	//margin-top: 0;
	padding-top: 30px;
	}

	.navlist li{
		font-family: 'Montserrat', sans-serif;
		//font-family: 'Nunito Sans', sans-serif;
		text-transform: uppercase;
letter-spacing: 1px;
		//display: block;
		
		//color: rgba(0, 0, 0, 0.63);
		
	margin: 0 10px 0 10px;
	//border: 1px solid black;
	//display: block;
	display: inline;
	}

	.listnav a{
		/*color: rgba(0, 0, 0, 0.719);
		font-weight: 800;
		font-size: 12px;
		height: 11px;*/
		@extend %mons12upper;
		color: rgba(0, 0, 0, 0.719);
		font-weight: 800;
		height: 11px;
	}
	.diam1 a{
	color: #0cc9c2;	
	}
	
	.contact{
		display: block;
		height: 40px;
		width: 170px;
		background: #10c9c3;
		margin-top: 30px;
		padding: 15px 25px;

		}

	.contact a{
		
		
		@extend %mons12upper;
		color: #fffefd;
		padding: 10px 10px 10px 10px;

		
	}

	.prelude{
	//border: 1px solid rgb(200, 233, 14);
	max-width: 490px;
	max-height: 400px;
	margin-left: auto;
	margin-right: 150px;
	margin-top: 80px;
	}

	.prelude h1{
				
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #1e1c1d;
	}

	.prelude p{
				line-height: 30px;
				margin-top: 30px;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 18px;
		font-weight: 400;
		//letter-spacing: 1px;
		color: #808082;
		}

	.about{
	//border: 1px solid rgb(233, 14, 14);
	width: 100%;
	height: 400px;
	}

	.abous{
	//border: 1px solid rgb(156, 233, 14);
	max-width: 700px;
	max-height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	text-align: center;
	

	h2{
				
		/*font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #1e1c1d;*/
		@extend %monsh2;
		}
	
		p{
					line-height: 30px;
					margin-top: 30px;
			font-family: 'Nunito Sans', sans-serif;
			font-size: 16px;
			text-align: center;
			font-weight: 400;
			//letter-spacing: 1px;
			color: #808082;
			}
		}
			.signature{
display: block;
//border: 1px solid rgb(233, 14, 14);
margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	}

	.skills h2{
		/*font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #1e1c1d;*/
		@extend %monsh2;

	}
	.blockskills{
	//	border: 1px solid rgb(112, 63, 63);
	width: 100%;
	height: 450px;
	}
	/*.proskills{
	border: 1px solid rgb(233, 14, 14);
	width: 100%;
	height: 450px;
	}*/

	.proskills{
		//border: 1px solid rgb(233, 14, 14);
		width: 800px;
		height: 448px;
		text-align: left;
		/*margin-top: 110px;*/
		/*margin-bottom: auto;*/
		vertical-align: middle;
		display:table-cell;
		padding: 50px;
		line-height: 40px;
		position: relative;
	}

	
	.skills{
		//border: 1px solid rgb(233, 14, 14);
		position: absolute;
		left: 50%;
  top: 50%;
  /* ширина и высота 2 блока */
  width: 600px;  
  height: 200px;
  /* Значения определяются в зависимости от его размера */
  /* margin-left = - width / 2 */
  margin-left: -300px;
  /* margin-top = - height / 2 */
  margin-top: -100px;
		
	}
	
	.skill1 skill2 skill3{
		@extend %mons12upper;
	}

	.proslills li{
		@extend %mons12upper;
color: black;
margin-top: 20px;
margin-bottom: 20px;
	}
	

	.skill1{
		display: block;
		//border: 1px solid rgb(14, 233, 186);
		background: url(../img/75.jpg) bottom left no-repeat;
		width: 600px;
		height: 50px;
	}

	.skill2{
		display: block;
		//border: 1px solid rgb(14, 233, 186);
		background: url(../img/90.jpg) bottom left no-repeat;
		width: 600px;
		height: 50px;
	}
	.skill3{
		display: block;
		//border: 1px solid rgb(14, 233, 186);
		background: url(../img/60.jpg) bottom left no-repeat;
		width: 600px;
		height: 50px;
	}



	.casesblock{
	//	border: 1px solid rgb(233, 14, 124);
		height: 250px;
		/*vertical-align: middle;*/
		background: #10c9c3;
		display: block;
		width: 100%;
		position: relative;
	}

	.cases{
		/*margin-top: 60px;*/
		//border: 1px solid rgb(21, 209, 15);
		position: absolute;
		left: 40%;
		top: 50%;
		height: 100px;
		width: 1160px;
		//margin-left: -500px;
		//margin-top: -45px;
		//min-width: 400px;
		position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   /*position: absolute;     */         
   /*top: 50%; */                      
   /*transform: translate(0, -50%);*/
		
		/*margin-top: 30px;
		margin-bottom: auto;
		height: 90px;*/
		/*line-height: 20px;*/
		/*display: inline-block;*/
		/*padding: 0 20px 0 20px;*/
		/*line-height: 20px;*/
		/*text-align: center;*/

		/*margin: 40px 0 0 0;*/
	}

	.case1{
		display: inline-block;
		width: 250px;
	//	border: 1px solid rgb(21, 209, 15);
		margin: 30px;
		background: url(../img/airplay.svg) 0 50% no-repeat;
		padding-left: 50px;
		filter: invert(100%);
		h3{
			@extend %mons18upperblack;
			//color: white;
			font-weight: 600;
			margin-bottom: 10px;
		}
		p{
			@extend %mons12upper;
			color: black;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	
	.case2{
		display: inline-block;
		width: 200px;
		//border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		margin-right: 50px;
		background: url(../img/timer.svg) 0 50% no-repeat;
		padding-left: 60px;
		filter: invert(100%);

		h3{
			@extend %mons18upperblack;
			//color: white;
			font-weight: 600;
			margin-bottom: 10px;
		}
		p{
			@extend %mons12upper;
			color: black;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	.case3{
		display: inline-block;
		width: 250px;
		//border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/star.svg) 0 50% no-repeat;
		padding-left: 50px;
		filter: invert(100%);

		h3{
			@extend %mons18upperblack;
			//color: white;
			font-weight: 600;
			margin-bottom: 10px;
		}
		p{
			@extend %mons12upper;
			color: black;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	.case4{
		display: inline-block;
		width: 180px;
		//border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/like.svg) 0 50% no-repeat;
		padding-left: 50px;
		filter: invert(100%);

		h3{
			@extend %mons18upperblack;
			//color: white;
			font-weight: 600;
			margin-bottom: 10px;
		}
		p{
			@extend %mons12upper;
			color: black;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

	.container_blockgoods{
		width: 100%;
		height: 580px;
		position: relative;
		}
	
	/*
		.blockgoods{
		border: 1px solid rgb(233, 14, 124);
		height: 580px;
		//display: block;
		width: 1330px;
		//position: relative;
		position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	}
*/

	//.blockgoods img{
	//	height: 284px;
	//}

	/*.goods4_1{
		position: absolute;
		border: 1px solid rgb(233, 14, 124);

	//	top: 20%;
	//	left: 50%;
	//	margin-right: -50%;
	//	transform: translate(-50%, -50%);
	position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
		

		//left: 48%;
		/*top: 50%;*/
		/* ширина и высота 2 блока */
		//width: 1330px;  
		//height: 290px;
		/* Значения определяются в зависимости от его размера */
		/* margin-left = - width / 2 */
		//margin-left: -665px;
		/* margin-top = - height / 2 */
		/*margin-top: -45px;*/
	


.img1block{
	display: inline-block;

	width: 332px;
	height: 284px;
	background:url(../img/services_1.jpg) no-repeat;


	.hover1block {
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover1block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}
}

.img2block{
	display: inline-block;
	width: 332px;
	height: 284px;
	background:url(../img/services_2.jpg) no-repeat;
}

	.hover2block{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover2block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img3block{
	display: inline-block;
	width: 332px;
	height: 284px;
	background:url(../img/services_3.jpg) no-repeat;
}

	.hover3block{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover3block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img4block{
	display: inline-block;
	width: 320px;
	height: 284px;
	background:url(../img/services_4.jpg) no-repeat;
}

	.hover4block{
	width: 320px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover4block:hover{
	width: 320px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img5block{
	display: inline-block;
	width: 332px;
	height: 284px;
	background:url(../img/services_5.jpg) no-repeat;
	
}

	.hover5block{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover5block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img6block{
	display: inline-block;
	width: 332px;
	height: 284px;
	background:url(../img/services_6.jpg) no-repeat;
}

	.hover6block{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover6block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img7block{
	display: inline-block;
	width: 332px;
	height: 284px;
	background:url(../img/services_7.jpg) no-repeat;
}

	.hover7block{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover7block:hover{
	width: 332px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}

.img8block{
	display: inline-block;
	width: 320px;
	height: 284px;
	background:url(../img/services_8.jpg) no-repeat;
}

	.hover8block{
	width: 320px;
	height: 284px;
	background: rgba(128, 128, 128, 0);
}
	.hover8block:hover{
	width: 320px;
	height: 284px;
	background: rgba(128, 128, 128, 0.39);
}





	.goods4_2{
		position: absolute;
//		border: 1px solid rgb(233, 14, 124);
	//	top: 61%;
	//	left: 50%;
	//	margin-right: -50%;
	//	transform: translate(-50%, -50%);
	//	margin-top: 0px;
		//left: 48%;
		/*top: 50%;*/
		/* ширина и высота 2 блока */
		//width: 1330px;  
		//height: 290px;
		/* Значения определяются в зависимости от его размера */
		/* margin-left = - width / 2 */
		//margin-left: -665px;
		/* margin-top = - height / 2 */
		//margin-top:  290px;
		position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
	}
	.container_loadmore{
		height: 100px;
		//border: black solid 1px;
		background: #e7e5e5bd;
	}
	.loadmore{
		display: block;
	//	margin-top: 620px;
		//border: 1px solid rgb(233, 182, 14);
		text-align: center;
		/*padding-top: auto;
		padding-bottom: auto;*/
		height: 40px;
		width: 150px;
		position: relative;
	//	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	p{
		@extend %mons12upper;
		color:blanchedalmond;
		font-weight: 600;
	}
	a {
		color: #808082;
	}

	}

.loadmore p{
		position: absolute;
		top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

	}

	.workprocontainer{
//		border: 1px solid rgb(233, 14, 124);
		height: 800px;
		display: block;
		width: 100%;
		position: relative;
	}

	.wproc{
		display: block;

		position: absolute;
		top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
	}

	.wproc video{
	height: 500px;

	}
	.WorkProc{
		position: absolute;
		top: - 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
	//height: 300px;
		h2{
		@extend %monsh2;
		margin-bottom: 20px;
		margin-top: 30px;
		}
		p{
		@extend %NunitoSans18p;	
		line-height: 30px;
		margin-bottom: 50px;
		}

	}

	

	.serwicescontainer{
//		border: 1px solid rgb(233, 14, 124);
		height: 400px;
		display: block;
		width: 100%;
		position: relative;
		background: #e7e5e5bd;
		
	}
.serwices{
	width: 87%;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
//	border: 1px solid rgb(233, 14, 124);


}

	.designn{
		display: inline-block;
		width: 230px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/diamond.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
		
	}

	.webdev{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/arc.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	
	}
	.appmobile{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/phone.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.gamedesign{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/joy.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.SEOmarketing{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/plane.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.photography{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/star.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.graphicdesign{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/magic-wand.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.illustrations{
		display: inline-block;
		width: 220px;
	//	border: 1px solid rgb(21, 209, 15);
		/*margin: 0 0;*/
		margin: 30px;
		background: url(../img/bucket.png) top center no-repeat;
		padding-top: 40px;
		text-align: center;
		@extend %serwicesstyly;
	}

	.blockquotecontainer{
	//	border: 1px solid rgb(233, 14, 124);
		height: 400px;
		display: block;
		width: 100%;
		position: relative;
		background: #10c9c3;
	}
	.quote{
	position: absolute;
	width: 70%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	//border: 1px solid rgb(233, 14, 124);
	text-align: center;	
	@extend %monsh2;
	color: #f5f5f5;
	font-size: 24px;
	font-weight: 500;
	line-height: 35px;
	
	background: #10c9c3;
	p{
		@extend %mons12upper;
		letter-spacing: 2px;
		margin: 30px;
	}
	
	}

	.userqotecontainer{
	//	border: 1px solid rgb(233, 14, 124);
		height: 600px;
		display: block;
		width: 100%;
		position: relative;
		background: #e7e5e5bd;
	}

	/*.letknow{
		position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border: 1px solid rgb(233, 14, 124);
	text-align: center;	
	height: 400px;
	line-height: 40px;
	}*/

	
//margin: 50px;
/*width: 400px;
text-align: center;
top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/
	
	.letknowtext{
	//	border: 1px solid rgb(14, 164, 233);
		position: absolute;
		top: 25%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 600px;
		text-align: center;
		h2{
			@extend %monsh2;
			margin-bottom: 30px;
		}
		p{
			@extend %NunitoSans16p;
			line-height: 25px;
		}
	}


	.input{
		position: absolute;
		top: 60%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		@extend %NunitoSans16p;
		
	}
	.YourTitle{
		//margin-left: -50px;
		//border: 1px solid rgb(233, 14, 124);
		width: 400px;
		height: 30px;
		padding-left: 20px;
		margin-bottom: 20px;
	}

	.YourTitle:focus{
		box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
	}

.youname{
	//border: 1px solid rgb(233, 14, 124);
		width: 190px;
		height: 30px;
		padding-left: 20px;
		margin-bottom: 20px;
}

.youname:focus{
	box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

.Yourmail{
	//border: 1px solid rgb(233, 14, 124);
		width: 190px;
		height: 30px;
		padding-left: 20px;
		margin-bottom: 20px;
		margin-left: 15px;
}
.Yourmail:focus{
	box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}
	.YourComment{
		//margin-left: -160px;
		//margin-left: -50px;
		//border: 1px solid rgb(233, 14, 124);
		width: 400px;
		height: 150px;
		/*padding-left: 20px;*/
		//padding: -200px 20px;
		padding-left: 10%;
		
text-align: left;
	}

	.YourComment:focus{
		box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
	}
	.YourCommentt{
		//border: 1px solid rgb(233, 14, 124);
		width: 400px;
		height: 150px;
		padding: 10px 20px;
	}
	.YourCommentt:focus{
		box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
	}
	.contactt{
		display: block;
		height: 40px;
		width: 200px;
		background: #10c9c3;
		margin-top: 30px;
		padding: 15px 30px;
		position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
	}

	.contactt:focus{
		box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
	}
	.contactt a {
		
			@extend %mons12upper;
			color: #fffefd;
			padding: 10px 10px 10px 10px;
				
		}

		

.footer{
	//border: 1px solid rgb(14, 233, 87);
		height: 250px;
		display: block;
		width: 100%;
		position: relative;
		background: #141414;
}

	.footercontaner{
	//	border: 1px solid rgb(127, 14, 233);
		height: 250px;
		/*display: block;
		width: 100%;
		position: relative;*/
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 1200px;
		//background: #141414;
	}

	.footleft{
		display: inline-block;
	//	border: 1px solid rgb(127, 14, 233);
		position: absolute;
		top: 50%;
		left: 10%;
		margin-right: -70%;
		transform: translate(-50%, -50%);
		width: 280px;
		height: 100px;
		padding: 20px;
		h3{
			@extend %monsh2;
			font-size: 18px;
			margin-bottom: 15px;
			color: #f5f5f5;	
		}
		p{
			@extend %NunitoSans16p;
			font-size: 15px;	
			line-height: 20px;
			color: #f5f5f5;
		}
		//margin-top: 20px;
		//margin-left: 20px;

	}

	.footcenter{
		display: inline-block;
	//	border: 1px solid rgb(127, 14, 233);
		//margin-top: 20px;
		//margin-left: 20px;
		//position: relative;
		position: absolute;
		top: 50%;
		left: 30%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 200px;
		height: 100px;
		padding: 20px;
		margin-left: 140px;
		p{
			@extend %NunitoSans16p;
			font-size: 15px;	
			line-height: 20px;
			color: #f5f5f5;
		}
	}

	.footright{
		display: inline-block;

	//	border: 1px solid rgb(14, 233, 178);
		position: absolute;
		top: 60%;
		left: 90%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 650px;
		height: 100px;
		//margin-top: 20px;
		//margin-left: 20px;
		
		@extend %NunitoSans16p;
		font-size: 15px;
		line-height: 20px;	
					
	}

	.footlist1{
		display: inline-block;
	//	border: 1px solid rgb(127, 14, 233);
margin-left: 40px;
		width: 100px;
		height: 100px;
		a{
			color: #f5f5f5;
		}
	}
		
	.footlist2{
		display: inline-block;
	//	border: 1px solid rgb(127, 14, 233);

		width: 200px;
		height: 100px;
		a{
			color: #f5f5f5;
		}
		
	}
	.footlist3{
		display: inline-block;
	//	border: 1px solid rgb(127, 14, 233);
		width: 200px;
		height: 100px;
		a{
			color: #f5f5f5;
		}
		
	}	